
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background: #FFFFFF;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contenedor{
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
}
.login .col-left,
.login .col-right{
    padding: 30px;
    display: flex;
}
.login .col-left{
    width: 60%;
    clip-path: polygon(0 0, 0% 100%, 100% 0 );
    background: #F83C4A;
}
.login .col-right{
    padding: 60px 30px;
    width: 50%;
    margin-left: -10%;
}

.nav-link{
    transition: transform 1s;
}

.nav-link:hover{

    transform: scale(1.5);

}

.seccionNosotros{
    background-color: black;
    color:white;
    Font-style: SemiBold;
    Font-size: 24px;
    Line-height: 43px;
    Line-height: 100%; 
    align-content: center;
    padding: 50px;
    text-align:center;
    width: 100%;
    height: 100%;
} 

#about{
    padding-top:  80px;
    padding-bottom:  80px

}

.about-image{
    float: left;
    width: 50%;
    padding: 40px;

}

.about-image  img{
    width: 100%;
}

.about-text{
    float: right;
    width: 50%;
    padding: 150px 50px; 

}

#description{
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: center;
}

#description h2{
    padding-bottom: 25px;
}

#description img{
    width: 250px;
    height: 250px;
}

.descrption-row{
    padding-top: 25px;
}

.description-box{
    float: left;
    width: 25%;
    padding: 25px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}

.shadowCard{
    box-shadow:20px 20px 20px 10px grey ;
    padding-top: 20px;
}

.falsobtn{
    background-color: red;
    color: white;
    padding: 5px; 
    margin: auto;
    width: 50%;
    align-items: center;
    border-radius: 5px;
}

@media(max-width: 575px){
    .login .contenedor{
        flex-direction: column;
        box-shadow: none;
    }
    .login .col-left,
    .login .col-right{
        width: 100%;
        margin: 0;
        clip-path: none;
    }
    .login .col-right{
        padding: 30px;
    }

}

@media(max-width:768px){

.about {
    padding-top: 60px;
    padding-bottom: 20px;
}

.about-image {
    float: none;
    width: 100%;
    padding: 10px;
}

.about-text {
    float: none;
    width: 100%;
    padding: 20px 10px;
}


.description {
    padding-top: 60px;
    padding-bottom: 60px;
}

.description-box {
    float: none;
    width: 100%;
    padding: 5px;
}

}

.login .login-text{
    position: relative;
    width: 100%;
    color: #ffffff;
}
.login .login-text h2{
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
}
.login .login-text p{
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.login .login-text .boton{
    display: inline-block;
    font-family: poppins;
    padding: 7px 20px;
    margin-right: 25px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
}

.botonLogin{
    border: none;
    
}

.botonLogin img{
    width: 1.5rem;

}
.login .login-text .boton:hover{
    color: #F83C4A;
    box-shadow: inset 150px 0 0 0  #ffffff;
}


.login .login-form{
    position: relative;
    width: 100%;
}
.login .login-form h2{
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 700;
}
.login .login-form p{
    margin: 0 0 10px 0;
    text-align: left;
    color: #666666;
    font-size: 15px;
}
.login .login-form p:last-child{
    margin: 0;
    padding-top: 3px;
}
.login .login-form p a{
    color: #F83C4A;
    font-size: 14px;
    text-decoration: none;
}
.login .login-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}
.login .login-form p:last-child label{
    width: 60%;
    float: left;
}
.login .login-form label span{
    color: #ff574e;
    padding-left: 2px;
}
.login .login-form input{
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}
.login .login-form input:focus{
    border-color: #ff574e;
}
.login .login-form button,
.login .login-form input[type=submit] {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: #F83C4A;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #F83C4A;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #F83C4A;
    transition: .3s;
}
.login .login-form button:hover,
.login .login-form input[type=submit]:hover{
    color: #ffffff;
    box-shadow: inset 250px 0 0 0 #F83C4A;
}

/* Parte contactos */
.contactos{
    position: relative;
    height: 500px;
    display: flex;
    position: relative;
    top: 70px;
  }
  
  .imagen{
    width: 100%;
    height: 130%;
    left: 0px;
    top: 5%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-color:rgba(0,0,0,0.6);
  }
  
  .containerContacto{
    top: 276px;
    background: transparent;
    width: 500px;
    margin: auto;
    height: 180px;
    position: relative;
    left: 370px;
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: nowrap;
  }
  
  .containerContacto2 {
    width: 50%;
    margin: auto;
    display: flex;
    margin-left: 5%;
  }
  
  .form-contact {
    width: 110%;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-input {
    width: 49%;
    color: #292929;
    font-size: 18px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
  }
  
  .form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
    margin-left: 0px;
  }
  
  .form-contact-button {
    width: 20%;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #F83C4A;
    display: block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
    transition: 1s;
    margin-left: 80%;
  }
  
  .form-contact-button:hover {
    opacity: 1;
  }
  
  .tituloContacto{
    position: absolute;
    width: 715px;
    height: 75px;
    left: 27px;
    top: 38px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    z-index: 9;
  }
  
  .barra{
    position: absolute;
      width: 615px;
      height: 17px;
      left: 22px;
      top: 97px;
      background: #F83C4A;
  }
  
.aContacto{
    text-decoration: none;
    color: #FFFFFF;
  }
